@import 'fonts';
@import 'transitions';
@import 'variables';
@import 'cards';

* {
  box-sizing: content-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $color-gray-ultralight;
  -webkit-font-smoothing: antialiased;
  font-family: "Brandon Grotesque", sans-serif;
  font-size: 18px;
  overflow: hidden;
}
