@import 'fonts';
@import 'transitions';
@import 'variables';
@import 'cards';

* {
  box-sizing: content-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $color-gray-ultralight;
  -webkit-font-smoothing: antialiased;
  font-family: "Brandon Grotesque", sans-serif;
  font-size: 18px;
  overflow: hidden;
}

.noNetwork {
  margin: 40px 0 0;
  text-align: center;
  height: 120px;
  opacity: 0.4;

  svg {
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    height: 100%;
  }
}

.credit {
  width: 20px;
  height: 20px;
  line-height: 0;
  display: inline-block;
  vertical-align: sub;
  opacity: 0.8;
  svg {
    height: 100%;
  }
}
